<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Añadir Usuario</title>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h1 style="color:black;" >Espacios Naturales | Añade usuario </h1>
    </div>

    <header><h2> Registra a un Usuario<br>
        <hr></h2></header>

    <form  action="#" th:action="@{/user/add}"
           th:object="${usuario}" method="post">
        <table style="margin:auto">
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126486.svg"width="30" height="30"></td>
                <td>Nombre de usuario:&nbsp;</td>
                <td><input input type="text" th:field="*{nombre_usuario}" class="form-control" id="nombre_usuario" placeholder="juanpez" size="40" maxlength="50" ></td>
                <td th:if="${#fields.hasErrors('nombre_usuario')}" th:errors="*{nombre_usuario}"></td>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126109.svg"width="30" height="30"></td><td>&nbsp;Dni:&nbsp;</td>
                <td><input class="form-control" type="text" th:field="*{dni}" placeholder="41254785Q" size="40" maxlength="50" ></td>
                <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></td>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126485.svg" width="30" height="30"></td>
                <td> &nbsp;Nombres y Apellidos:&nbsp;</td>
                <td><input  class="form-control" type="text" th:field="*{nombre_y_apellidos}" placeholder=" Juan Perez Salvador" maxlength="50"/></td>
                <td th:if="${#fields.hasErrors('nombre_y_apellidos')}"  th:errors="*{nombre_y_apellidos}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126479.svg"width="30" height="30"></td>
                <td>Contraseña:&nbsp;</td>
                <td><input  class="form-control" type="password" th:field="*{contraseña}" maxlength="50"/></td>
                <td th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126470.svg"width="30" height="30"></td><td>&nbsp;Direccion:&nbsp;</td>
                <td><input class="form-control" type="text" th:field="*{direccion}" placeholder=" Calle nueva, 32 (Castellon)" size="40" maxlength="50" ></td>
                <td th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></td>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126509.svg"width="30" height="30"></td><td>&nbsp;Telefono:&nbsp;</td>
                <td><input class="form-control"  type="tel" name="phone" th:field="*{telefono}" placeholder="612345678"/></td>
                <td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126516.svg"width="30" height="30"></td><td>&nbsp;Email:&nbsp;</td>
                <td><input class="form-control" type="text" th:field="*{correo }"  placeholder=" ejemplo@gmail.com" size="40" maxlength="50" ></td>
                <td th:if="${#fields.hasErrors('correo ')}" th:errors="*{correo }"></td>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/159/159224.svg"width="30" height="30"></td><td>&nbsp;Edad actual:&nbsp;</td>
                <td><input class="form-control" type="number" th:field="*{nacimiento}" placeholder="34" size="40" maxlength="50" ></td>
                <td th:if="${#fields.hasErrors('nacimiento')}" th:errors="*{nacimiento}"></td>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126160.svg"width="30" height="30"></td><td>&nbsp;Tipo de usuario:&nbsp;</td>
                <td><input class="form-control" type="text" th:field="*{tipo_usuario }" placeholder=" Ciudadano, Gestor o Controlador" size="40" maxlength="50" ></td>
                <td th:if="${#fields.hasErrors('tipo_usuario ')}" th:errors="*{tipo_usuario }"></td>
            <tr><td><br></td></tr>
            <!--            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126500.svg"width="30" height="30"></td><td>&nbsp;¿Algo más?:&nbsp;</td>-->
            <!--                <td><textarea type="search" placeholder="Cuéntanos algo más sobre lo que necesitas. (opcional)" rows="10" cols="40" maxlength="200" ></textarea></td></tr>-->
            <tr>
                <td></td><td></td><td><input class="boton_personalizado1" id="enviar" type="submit" value="REGISTRAR">
                <input class="boton_personalizado1" id="borrar" type="reset" value="BORRAR"></td>
            </tr>
            <tr>
                <br>
            </tr>
        </table>
    </form>
    <br>
    <br>
    <a href="/cascommitee/index" class="boton_personalizado1" role="button" >Atrás</a>
    <br><br>

</div>
</body>
