<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nou nadador</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou nadador</h2>
<form action="#" th:action="@{/user/add}"
      th:object="${usuario}" method="post">
    <table>
        <tr>
            <td><label>Dni</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
        </tr>
        <tr>
            <td><label>Usuario</label></td>
            <td><input type="text" th:field="*{usuario}" /></td>
        </tr>
        <tr>
            <td><label>Nombre y apellidos</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>Telefono </label></td>
            <td><input type="text" th:field="*{telefono}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Constaseña</label></td>
            <td><input type="password" th:field="*{contraseña}" /></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
        </tr>
        <tr>
            <td><label>Tipo Usuario</label></td>
            <td><input type="text" th:field="*{tipoUsuario}" /></td>
        </tr>
        <tr>
            <td><label>Edad</label></td>
            <td><input type="number" th:field="*{edad}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" role="button" class="btn btn-success" value="Aceptar" /></td>

        </tr>
    </table>
    <a href="/" class="btn btn-primary" role="button" >Volver</a>
</form>
</body>
</html>